
.style{
    position: relative;
    width: 100%;
    height: 102.5vh;
    left: 0;
    background-image:url('C:/Users/Administrator/Desktop/payment/payment-frontend/payment/src/asset/images/hq.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.form-horizontal{
    width: 100%;
    position: relative;
    left: 68%;
}
.card-body-new{
    background-position: 50% 50%;
    background-size:cover; 
    background-repeat:no-repeat; 
    width:350px;
    height:300px;
    
}

.card-body{
    background-position: 50% 50%;

    
}
.card-header{
    background-color: orange;
}

.digi{
    background-position: 50% 50%;
}